@import '../vars';
@import '../_mixins/mixins';
@import '../extensions';

.slider {
	width: 100%;
	height: 600px;
	&-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
	&-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;

	}
	&__slide {
		&-text{
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		&-img{
			width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
